body {
}
.forcastBody{
    width:600px;
    background-color:#fff;
    font-size:15px;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    color:#333;
    font-weight:500;
    padding:50px;
}
/*按钮样式*/
 #startoperation{
     background:#FB9337;
     border: 1px solid #F0882C; 
     color:#eee;
     padding:7px 10px;
     cursor:pointer;
 }
 #SaveContentNCS{
     background:#FB9337;
     border: 1px solid #F0882C; 
     color:#eee;
     padding:7px 10px;
     cursor:pointer;
 }
  #SaveContentSD{
     background:#FB9337;
     border: 1px solid #F0882C; 
     color:#eee;
     padding:7px 10px;
     cursor:pointer;
 }
    #SaveContentMonth{
     background:#FB9337;
     border: 1px solid #F0882C; 
     color:#eee;
     padding:7px 10px;
     cursor:pointer;
 }
      #SaveContentX{
     background:#FB9337;
     border: 1px solid #F0882C; 
     color:#eee;
     padding:7px 10px;
     cursor:pointer;
 }
      #SaveContentXAndM{
     background:#FB9337;
     border: 1px solid #F0882C; 
     color:#eee;
     padding:7px 10px;
     cursor:pointer;
 }
 /*发布单位*/
 #fbUnit{
     font-size:40px;
     text-align:center;
     margin-top:20px;
 }
 /*编号*/
 .fbNo{
     padding-top:30px;
 }
.formNo {
    padding-top:30px;
}
 /*预报单标题*/
 .fbTitle{
     padding-top:20px;
     text-align:center;
 }
 /*文字描述*/
 .fbDescription{
     padding-top:20px;
 }
 /*预报单内容*/
 .fbContainer{
     margin-top:10px;
 }
 .fbContentTitle{
     
 }
 .fbContent{
     padding-top:5px;
 }
 /*预报单footer*/
 .fbFooter{
     padding-top:15px;
     height:30px;
 }
 .fbHeader{
     float:left;
 }
 .fbDeputyer{
     float:right;
     margin-right:200px;
 }
 .fbButton{
      margin-top:10px;
 }
